.contacts-section {
  &__contacts-flex {
    display: flex;
    gap: 32px;
  }
  
  &__contacts-content {
    flex-basis: 605px;
  }
  
  &__contact-title {
    margin-bottom: 16px;
    font-weight: 900;
    font-size: 60px;
    text-align: left;
    line-height: 1.3;
    height: 168px;
  }
  
  &__contacts-p {
    margin-bottom: 42px;
    color: var(--color-brand-dark);
  }
}



  map {
    flex-basis: 600px;
    min-height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
  }