.footer {
  padding-top: 32px;
  background-image: url("/images/footer-background.png");
  background-color: var(--color-primary-dark);
  background-position:75%;
  background-size:cover;
  background-repeat: no-repeat;
  position: relative;

  @media screen and (min-width: $desktop) {
    background-position: center;
  }

  &::before {
    content: "";
    position: absolute;
    left: -8px;
    top: 48px;
    width: 92px;
    height: 196px;
    background-repeat: no-repeat;
    background-image: url("/images//bread-one-mobile.png");
  }

  &::after {
    background-image: url("/images/bread-two-mobile.png");
    position: absolute;
    width: 102px;
    height: 90px;
    right: 0;
    bottom: 0;
    content: "";

  }

  @media screen and (min-width: $desktop) {
    &::before {
      content: "";
      position: absolute;
      top: auto;
      left: 0;
      bottom: 0;
      width: 180px;
      height: 120px;
      background-repeat: no-repeat;
      background-image: url("/images//bread-one.png");
    }
  
    &::after {
      background-image: url("/images/bread-two.png");
      position: absolute;
      width: 380px;
      height: 185px;
      right: 0;
      bottom: 0;
      content: "";
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: $desktop) {
      flex-direction: row;
      padding-bottom: 16px;
    }
  }

  &__nav-flex {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 18px;

    @media screen and (min-width: $desktop) {
      display: flex;
      flex-basis: 50%;
      flex-direction: row;
      gap: 16px;
    }
  }

  &__logo {
    margin-bottom: 32px;

    img {
      max-width: 100%;
      @media screen and (min-width: $desktop) {
        max-width: none;
      }
    }
  }

  &__nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: 18px;

    @media screen and (min-width: $desktop) {
      flex-grow: 0;
      justify-content: center;
      text-align: left;
    }
  }

  &__nav li a {
    color: var(--color-primary-light);
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    transition: color 0.3s;

    @media screen and (min-width: $desktop) {
      color: var(--color-primary-light);
      font-size: 18px;
      font-weight: 400;
      transition: color 0.3s;
    }
  }

  &__link li {
    margin-bottom: 18px;

    @media screen and (min-width: $desktop) {
      margin-bottom: 0;
    }
  }

  &__link li:nth-child(3),
  &__link li:last-child {
    margin-bottom: 0;
  }

  &__link li a {
    color: var(--color-primary-light);
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    transition: color 0.3s;

    @media screen and (min-width: $desktop) {
      color: var(--color-primary-light);
      font-size: 16px;
      font-weight: 300;
      transition: color 0.3s;
    }
  }

  &__nav li a:hover,
  &__link li a:hover {
    color: var(--color-brand-normal);
  }

  &__address {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;

    @media screen and (min-width: $desktop) {
      display: flex;
      flex-basis: 50%;
      flex-direction: row;
      align-items: baseline;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media screen and (min-width: $desktop) {
      align-items: start;
      text-align: start;
      gap: 18px;
    }
  }

  .left-container {
    align-items: left;
  }

  &__address-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $desktop) {
      flex-grow: 1;
    }

    &__copy {
      color: var(--color-secondary-dark);
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 32px;
      @media screen and (min-width: $desktop) {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 32px;
      }
    }

    &__text-center {
      text-align: center;

      @media screen and (min-width: $desktop) {
        text-align: start;
      }
    }

    &__policy {
      color: var(--color-primary-light);
      font-size: 14px;
      font-weight: 300;
      transition: color 0.3s;
      margin-bottom: 8px;

      @media screen and (min-width: $desktop) {
        display: block;
        color: var(--color-primary-light);
        font-size: 16px;
        font-weight: 300;
        transition: color 0.3s;
        padding: 0;
        margin-bottom: 16px;
      }
    }

    &__policy:hover {
      color: var(--color-brand-normal);
    }
  }

  &__accident {
    display: block;

    @media screen and (min-width: $desktop) {
      display: none;
    }
  }
}

.footer-icons {
  display: flex;
  gap: 22px;
  padding: 16px 50px;
  padding-bottom: 0;
  margin-bottom: 8px;

  @media screen and (min-width: $desktop) {
    padding: 0;
    margin-bottom: 0;
  }

  &__items {
    fill: var(--icon-color);
  }
}

.icon-facebook,
.icon-instagram {
  fill: var(--icon-color);
}

.icon-facebook:hover,
.icon-instagram:hover {
  fill: var(--color-brand-normal);
  cursor: pointer;
}
