:root {
    --color-primary-dark: #31261a;
    --color-brand-normal: #819b57;
    --color-brand-dark: #465929;
    --color-primary-light: #faf4ea;
    --color-secondary-dark: #a18268;
    --color-brand-light: #cfcfbc;
    --icon-color: #e7d7be;
  }

  $phone: 480px;
  $tablet: 768px;
  $desktop: 1280px;