.chef-card {
  align-items: flex-start;
  display: flex;
  gap: 30px;

  &__chef-photo {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light),
      -16px 16px 0 1px var(--color-secondary-dark);
    max-width: 50%;
    @media screen and (min-width: $tablet) {
      border-radius: 4px 4px 4px 200px;
      box-shadow: -16px 16px 0 0 var(--color-primary-light),
        -16px 16px 0 1px var(--color-secondary-dark);
      max-width: 45%;
    }

    @media screen and (min-width: $desktop) {
      border-radius: 4px 4px 4px 200px;
      box-shadow: -16px 16px 0 0 var(--color-primary-light),
        -16px 16px 0 1px var(--color-secondary-dark);
      max-width: none;

    }
  }

  &__chefs-name {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;

    @media screen and (min-width: $desktop) {
      margin-bottom: 16px;
      font-size: 40;
      font-weight: 600;
    }
  }

  &__all-text {
    max-width: 50%;
    flex: 50%;

    @media screen and (min-width: $desktop) {
      max-width: none;
      flex: none;
    }
    @media screen and (min-width: $tablet) {
      max-width: none;
      flex: none;
    }
  }

  &__chef-text {
    max-width: 330px;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

    @media screen and (min-width: $tablet) {
      max-width: 162px;

      font-size: 14px;
      font-weight: 300;
      line-height: 1.5;
      text-align: left;
    }

    @media screen and (min-width: $desktop) {
      max-width: 330px;

      font-size: 18px;
      font-weight: 400;
      line-height: 1.5;
      text-align: left;
    }
  }
}
