.footer {
    padding-top: 32px;
    background-image: url("/images/footer-background.png");
    background-color: var(--color-primary-dark);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  
  .footer::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 180px;
    height: 120px;
    background-repeat: no-repeat;
    background-image: url("/images//bread-one.png");
  }
  
  .footer:after {
    background-image: url("/images/bread-two.png");
    position: absolute;
    width: 380px;
    height: 190px;
    right: 0;
    bottom: 0;
    content: "";
  }
  
  .footer-flex {
    display: flex;
  }
  
  .footer-nav-flex {
    display: flex;
    flex-basis: 50%;
  }
  
  .footer-logo {
    flex-grow: 1;
  }
  
  .footer-nav {
    flex-grow: 1;
  }
  
  .footer-nav li a, .footer-link li a {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    transition: color 0.3s;
  }
  
  .footer-nav li a:hover,
  .footer-link li a:hover {
    color: var(--color-brand-normal);
  }
  
  .footer-adress {
    display: flex;
    flex-basis: 50%;
  }
  
  .footer-link {
    flex-grow: 1;
  }
  
  .address-info a {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    transition: color 0.3s;
  }
  
  .address-info a:hover {
    color: var(--color-brand-normal)
  }
  
  .adress-info {
    flex-grow: 1;
  }
  
  .copy {
    color: var(--color-secondary-dark);
    font-size: 14px;
  }
  
  .icon-facebook,
  .icon-instagram {
    fill: var(--icon-color);
  }
  
  .icon-facebook:hover,
  .icon-instagram:hover {
    fill: var(--color-brand-normal);
    cursor: pointer;
  }
  
  .icon-button {
    border: 1px solid #31261a;
    width: 44px;
    height: 44px;
    left: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  
  .icon-button:hover {
    cursor: pointer;
    fill: var(--icon-color);
    background-color: var(--color-primary-dark);
  }