.contact-input{
    margin-bottom: 24px;
   }
   
     /* .checkbox-container {
    position: relative;
  }
  
  .check-label {
    padding-left: 24px;
  }
  
  .check-label::before {
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-primary-dark);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 5px;
  }
  
  .check-input:checked + .check-label::before {
    border-color: var(--color-brand-dark);
    background-color: var(--color-brand-normal);
  } */